<div class="grid grid-cols-5 gap-3 bg-white rounded-md shadow-md p-2 hover:-translate-y-3 transition-all ease-in-out">
    <div class="bg-{{ card_color }}-500 col-span-2 flex justify-center items-center text-white rounded-md p-3 ">
        <i class="text-xl fa-solid {{ card_icon }}"></i>
    </div>
    <div class="col-span-3 flex flex-col justify-between">
        <span>{{ card_name }}</span>
        <span class="font-semibold">{{count}}</span>
    </div>
</div>