{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
    <section class="bg-gradient-to-r to-[#5A72EA] from-[#8468B1]">
        <div class="container">
            <div class="space-y-10 py-12">
                <div class="text-white space-y-10">
                    <h1 class="text-2xl lg:text-6xl text-center font-bold ">A Propos</h1>
                </div>
            </div>
        </div>
        <div class="hidden md:flex justify-end">
            <div id="first-triangle" class="">

            </div>
        </div>
    </section>
    <section class="py-12">
        <div class="container">
            <div class="flex items-center flex-col lg:flex-row">
                <div class="flex-1">
                    <img class="h-72" src="{{ asset('assets/image/maintenance.svg') }}" alt="">
                </div>
                <div class="flex-1 px-10">
                    <div class="space-y-3">
                        <h2 class="text-2xl font-semibold">Page en cours de développement</h2>
{#                        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor quam quam adipiscing at est integer tellus. Quis congue tortor tortor convallis egestas magna massa A.</p>#}
{#                        <a href="" class="block w-fit p-4 bg-secondary text-primary font-semibold cursor-pointer">Voir Plus</a>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <section class="py-12">#}
{#        <div class="container">#}
{#            <div class="flex items-center">#}
{#                <div class="flex-1 px-10">#}
{#                    <div class="space-y-3">#}
{#                        <h2 class="text-2xl font-semibold">Nos ambition et perspectives avec vous</h2>#}
{#                        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor quam quam adipiscing at est integer tellus. Quis congue tortor tortor convallis egestas magna massa A.</p>#}
{#                        <a href="" class="block w-fit p-4 bg-secondary text-primary font-semibold cursor-pointer">Voir Plus</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="flex-1 hidden lg:block">#}
{#                    <img class="h-72" src="{{ asset('assets/image/undraw2.png') }}" alt="">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section class="py-12">#}
{#        <div class="container">#}
{#            <div class="flex items-center">#}
{#                <div class="flex-1 hidden lg:block">#}
{#                    <img class="h-72" src="{{ asset('assets/image/undraw3.png') }}" alt="">#}
{#                </div>#}
{#                <div class="flex-1 px-10">#}
{#                    <div class="space-y-3">#}
{#                        <h2 class="text-2xl font-semibold">Nos perspective de devellopement</h2>#}
{#                        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor quam quam adipiscing at est integer tellus. Quis congue tortor tortor convallis egestas magna massa A.</p>#}
{#                        <a href="" class="block w-fit p-4 bg-secondary text-primary font-semibold cursor-pointer">Voir Plus</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}