{% extends 'base.html.twig' %}

{% block body %}
    <section class="bg-gradient-to-r to-[#5A72EA] from-[#8468B1]">
        <div class="container">
            <div class="flex py-12 items-center">
                <div class="flex-1 text-white space-y-10 px-4">
                    <h1 class="text-2xl lg:text-4xl font-bold ">Quelques mention legal a lire avant de debuter sur le site</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor quam quam adipiscing at est integer tellus. Quis congue tortor tortor convallis egestas magna massa consequat. Neque tellus nunc a augue volutpat non elementum pulvinar. </p>
                </div>
                <div class="flex-1 hidden lg:block">
                    <img class="h-72 mx-auto" src="{{ asset('assets/image/undraw4.png') }}" alt="">
                </div>
            </div>
        </div>
        <div class="hidden md:flex justify-end">
            <div id="first-triangle" class="">

            </div>
        </div>
    </section>
    <section class="py-12">
        <div class="container">
            <div class="flex items-center">
                <div class="flex-1 hidden lg:block">
                    <img class="h-72 mx-auto" src="{{ asset('assets/image/undraw5.png') }}" alt="">
                </div>
                <div class="flex-1 px-10">
                    <div class="space-y-3">
                        <h4 class="border-l-2 border-l-[#5A72EA] p-2 text-sm">INTRODUCtION AU MENTION LEGALE</h4>
                        <h2 class="text-2xl font-semibold">Cette article vous indice les ligne suivre.</h2>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor quam quam adipiscing at est integer tellus. Quis congue tortor tortor convallis egestas magna massa A.</p>
                        <a href="" class="block w-fit p-4 bg-secondary text-primary font-semibold cursor-pointer">Voir Plus</a>
                    </div>
                </div>
            </div>
            <div class="mt-10">
                <div class="space-y-3 mx-auto">
                    <h4 class="border-l-2 border-l-[#5A72EA] p-2 text-sm w-fit mx-auto">Merci pour votre comprehesion</h4>
                    <h2 class="text-2xl font-semibold text-center">Nos different mention mention legale</h2>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor quam quam adipiscing at est integer tellus. Quis congue tortor tortor convallis egestas magna massa consequat. Neque tellus nunc a augue volutpat non elementum pulvinar. </p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-12">
        <div class="container">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
                <div class="space-y-3">
                    <h2 class="text-2xl font-semibold">Cette article vous indice les ligne suivre.</h2>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor quam quam adipiscing at est integer tellus.</p>
                    <ul class="text-primary flex space-x-2">
                        <li> <i class="fa fa-arrow-right"></i> </li>
                        <li><a href="" class="">lire plus</a></li>
                    </ul>
                </div>
                <div class="space-y-3">
                    <h2 class="text-2xl font-semibold">Mention legal lieds a la recuperation</h2>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor quam quam adipiscing at est integer tellus.</p>
                    <ul class="text-primary flex space-x-2">
                        <li> <i class="fa fa-arrow-right"></i> </li>
                        <li><a href="" class="">lire plus</a></li>
                    </ul>
                </div>
                <div class="space-y-3">
                    <h2 class="text-2xl font-semibold">Mention legal lieds aux engagements</h2>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor quam quam adipiscing at est integer tellus.</p>
                    <ul class="text-primary flex space-x-2">
                        <li> <i class="fa fa-arrow-right"></i> </li>
                        <li><a href="" class="">lire plus</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}
    mentions légales
{% endblock %}

