{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="py-12">
            <div class="container">
                <div class="py-5">
                    <form action="">
                        <div class="relative h-14">
                            <input type="text" class="h-full bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5" placeholder="nom du proprietaire, numéro de la pièce">
                            <button class="absolute inset-y-0 right-0 flex items-center pr-3">
                                <i class="fa-sharp fa-solid fa-magnifying-glass w-full h-5 text-gray-500 dark:text-gray-400"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="grid gap-5 lg:grid-cols-3">
                    <div class="">
                        <a class="block rounded overflow-hidden shadow-lg cursor-pointer">
                            <img class="aspect-video" src="https://v1.tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
                            <div class="px-6 py-4">
                                <div class="font-semibold text-xl mb-2">Schuame Alexandre Lionel</div>
                                <ul class="text-gray-700 text-base">
                                    <li><span class="inline-block bg-red-200 rounded-full px-3 py-1 text-sm font-semibold text-red-700 mr-2 mb-2">Perdu</span></li>
                                    <li><i class="fa fa-map-pin"></i> <span class="text-sm inline-block ml-1">Pk17, Douala</span> </li>
                                </ul>
                                <div class="mt-2">
                                    <p>Contactez l'utilisateur</p>
                                    <p class="text-gray-700 text-base"><i class="fa fa-user"></i> <span class="text-sm">+237 6## ### ### </span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="block rounded overflow-hidden shadow-lg cursor-pointer">
                            <img class="aspect-video" src="https://v1.tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
                            <div class="px-6 py-4">
                                <div class="font-semibold text-xl mb-2">Schuame Alexandre Lionel</div>
                                <ul class="text-gray-700 text-base">
                                    <li><span class="inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-semibold text-green-700 mr-2 mb-2">Trouvé</span></li>
                                    <li><i class="fa fa-map-pin"></i> <span class="text-sm inline-block ml-1">Pk17, Douala</span> </li>
                                </ul>
                                <div class="mt-2">
                                    <p>Contactez l'utilisateur</p>
                                    <p class="text-gray-700 text-base"><i class="fa fa-user"></i> <span class="text-sm">+237 6## ### ### </span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="block rounded overflow-hidden shadow-lg cursor-pointer">
                            <img class="aspect-video" src="https://v1.tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
                            <div class="px-6 py-4">
                                <div class="font-semibold text-xl mb-2">Schuame Alexandre Lionel</div>
                                <ul class="text-gray-700 text-base">
                                    <li><span class="inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-semibold text-green-700 mr-2 mb-2">Trouvé</span></li>
                                    <li><i class="fa fa-map-pin"></i> <span class="text-sm inline-block ml-1">Pk17, Douala</span> </li>
                                </ul>
                                <div class="mt-2">
                                    <p>Contactez l'utilisateur</p>
                                    <p class="text-gray-700 text-base"><i class="fa fa-user"></i> <span class="text-sm">+237 6## ### ### </span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="block rounded overflow-hidden shadow-lg cursor-pointer">
                            <img class="aspect-video" src="https://v1.tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
                            <div class="px-6 py-4">
                                <div class="font-semibold text-xl mb-2">Schuame Alexandre Lionel</div>
                                <ul class="text-gray-700 text-base">
                                    <li><span class="inline-block bg-red-200 rounded-full px-3 py-1 text-sm font-semibold text-red-700 mr-2 mb-2">Perdu</span></li>
                                    <li><i class="fa fa-map-pin"></i> <span class="text-sm inline-block ml-1">Pk17, Douala</span> </li>
                                </ul>
                                <div class="mt-2">
                                    <p>Contactez l'utilisateur</p>
                                    <p class="text-gray-700 text-base"><i class="fa fa-user"></i> <span class="text-sm">+237 6## ### ### </span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block title %}
    search
{% endblock %}

