<h1>Bonjour! confirmez votre email</h1>

<p>
    Veuillez cliquer sur le lien pour confirmer votre adresse: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
