{% extends 'dashboard.html.twig' %}

{% block title %}New Declaration{% endblock %}

{% block body %}
    {{ include('components/header.html.twig', {title: 'déclarez un document'}) }}
    <section class="-mt-40 lg:-mt-10 pb-10">
        <div class="w-11/12 mx-auto">
            {{ include('declaration/_form.html.twig') }}
        </div>
    </section>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src={{ asset('assets/js/create-doc.js') }} ></script>
    <script >
        $('.townselect').select2();
        $('.municipalityselect').select2()

        console.log("ok")

        // const selectLists = document.getElementsByClassName('select2')
        // for (let i = 0; i < selects.length; i++){
        //     selectLists[i].style.width = "100%"
        //     selectLists[i].style.zIndex = -1
        // }
    </script>
{% endblock %}
