<section class="">
    <div class="bg-gradient-to-r to-[#5A72EA] from-[#8468B1] h-48 flex justify-center items-center font-bold uppercase">
        <h1 class="text-white text-3xl text-white">{{title}}</h1>
    </div>
</section>