<section class="">
    <div class="bg-gradient-to-r to-[#5A72EA] from-[#8468B1] h-48">
        <div class="container flex justify-center items-center h-full">
            <h1 class="font-bold uppercase text-3xl text-white text-center">{{title}}</h1>
        </div>
    </div>
</section>