{% extends 'base.html.twig' %}

{% block title %} Not Found {% endblock %}

{% block body %}
    <main class="">
        <section class="">
            <div class="container">
                <div class="h-screen flex justify-center items-center">
                    <div class="text-center space-y-3">
                        <h1 class="text-[150px] font-semibold tracking-tighter text-primary">Oops!</h1>
                        <h2 class="text-2xl font-semibold">500 - Une erreur est servenue</h2>
                        <p class="">Une erreur inconnue est survenue</p>
                        <a href="{{ path('app_home') }}" class="inline-block py-1 px-2 rounded-md bg-primary text-white">retour à l'accueil</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}